.Auth-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0099ff;
    .Auth-form{
        width: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 2rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        gap: 2rem;
        z-index: 2;
        h1{
            font-size: 2rem;
            font-weight: bold;
        }
        .sectionForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            input{
                width: 100%;
                border-radius: 10px;
                border: 1px solid rgb(216, 211, 211);
                padding: 1rem;
            }
        }
        .submitButton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 0.4rem;
            .login{
                padding: 1rem;
                width: 100%;
                background-color: blue;
                border: none;
                border-radius: 1rem;
                color: white;
            }

            .register{
                padding: 1rem;
                width: 100%;
                background-color: green;
                border: none;
                border-radius: 1rem;
                color: white;
            }
            .flexOR{
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 0.7rem;
                .line{
                    border-top: 2px solid black;
                    width: 100%;
                    margin-top: 0.8rem;
                    
                }
            }
            
        }
    }
}

.StyleBackground{
    margin-top: -20rem;
}